<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>QTLaaS - About</title>
    <link rel="stylesheet" type="text/css"
          href="{{url_for('static', filename='style/test.css')}}"> 
  </head>

  <body>
    <header>
      <h1>About QTLaaS</h1>
    </header>
    
    <nav>
      <ul>
        <li><a href="index">Home</a></li>
        <li><a href="setup">Setup</a></li>
        <li><a href="modify">Modify</a></li>
        <li><a href="terminate">Terminate</a></li>
        <li><a href="about">About</a></li>
      </ul>
    </nav>

    <main>
      <h1>About QTLaaS</h1>
      <p>Here goes some text</p>
    </main>
  </body>
</html>

