<!doctype html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8"/>
    <title>QTLaaS - Index</title>
    <link rel="stylesheet" type="text/css"
          href="{{url_for('static', filename='style/test.css')}}"> 
  </head>
  
  <body>
    <header>
      <h1>Welcome to the start page</h1>
      <p>QTL as-a Service</p>
    </header>
    
    <nav>
      <ul>
        <li><a href="index">Home</a></li>
        <li><a href="setup">Setup</a></li>
        <li><a href="modify">Modify</a></li>
        <li><a href="terminate">Terminate</a></li>
        <li><a href="about">About</a></li>
      </ul>
    </nav>
  
    <main>
      <p>Welcome to QTLaaS</p>
      <ul>
        <li>Implemented: Add workers to heat</li>
        <li>TODO: Start cluster when heat is complete</li>
        <li>TODO: Remove workers</li>
      </ul>
    </main>
  </body>
</html>
