<!doctype html>
<html lang="en">

  <head>
    <meta charset="UTF-8"/>
    <title>QTLaaS - Run</title>
    <link rel="stylesheet" type="text/css"
          href="{{url_for('static', filename='style/test.css')}}"> 
  </head>

  <body>
    <header>
      <h1>Start the cluster</h1>
    </header>

    <nav>
      <ul>
        <li><a href="index">Home</a></li>
        <li><a href="set_workers">Setup</a></li>
        <li><a href="run">Run</a></li>
        <li><a href="about">About</a></li>
      </ul>
    </nav>

    <main>
      <form action="/QTL/run" method="POST">
        <input type="submit" value="Start cluster">
      </form>
    </main>
  </body>
</html>

