<!doctype html>
<html title>
  
  <form method="POST">
    <head>
      <meta charset="UTF-8"/>
      <title>QTLaaS - Setup</title>
      <link rel="stylesheet" type="text/css"
            href="{{url_for('static', filename='style/test.css')}}"> 
    </head>

    <body>
      <header>
        <h1>Setup QTLaas</h1>
      </header>

      <nav>
        <ul>
          <li><a href="index">Home</a></li>
          <li><a href="setup">Setup</a></li>
          <li><a href="modify">Modify</a></li>
          <li><a href="terminate">Terminate</a></li>
          <li><a href="about">About</a></li>
        </ul>
      </nav>

      <main>
        <h1>Welcome to the setup page</h1>
        <p>Please add how many workers to add to the cluster.<br/>
          This will add the number of workers to the heat file.<br/>
          Notice: Delete workers is not yet implemented
        </p>
        
        <div class="form-group">
          <input type="number" min="0" class="line-input"
                 name="numWorkers"
                 placeholder="Workers">
        </div>

        <!--
        <div class="form-group">
          <input type="number" min="0" class="line-input"
                 name="removeWorkers"
                 placeholder="Remove Workers">
        </div>
        -->
        
        <div class="form-group">
          <button type="submit"
                  class="btn btn-light text-primary btn-block"
                  style="margin : 20px 20px -10px 0px">Submit
          </button>
        </div>

        <form action="/QTL/set_workers" method="POST">
          <input type="submit" value="Start cluster">
        </form>
      </main>
    </body>
  </form>
</html>
